.main_chat
  .main_chat__group_info
    .main_chat__group_info__left_box
      %p.main_chat__group_info__left_box__group_name
        = @group.name
      %p.main_chat__group_info__left_box__member
        MEMBER
        - @group.group_users.each do|group_user|
          = group_user.user.name

    .main_chat__group_info__right_box
      .main_chat__group_info__right_box__edit_btn
        =link_to "Edit",edit_group_path(@group)

  .main_chat__message_list
    = render @messages

  .main_chat__message_form
    = form_for [@group, @message] do |f|
      .input_box
        = f.text_field :content, class: 'input_box__text', placeholder: 'type a message'
        = f.label :image, class: 'input_box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input_box__image__file'
      = f.submit 'Send', class: 'submit-btn', value: "Send"
