.side_bar
  .side_bar__user_name
    .top_items
      .top_items__name
        masa
      .top_items__icon
        = link_to new_group_path do
          %i.fa.fa-edit.edit-icon
        = link_to edit_user_path(current_user.id) do
          %i.fa.fa-cog.cog-icon
  .side_bar__group
    - current_user.groups.each do |group|
      .side_bar__group__list
        = link_to group_messages_path(group) do
          .side_bar__group__list__name
            = group.name
          .side_bar__group__list__message
            = group.show_last_message